= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :status_id
    = f.text_field :status_id
    %br
    %select{ name: :status_id }
      - @status_all = Status.all
      %option{:disabled => "disabled", :selected => "selected", :value => ""}
        選んでください
      - @status_all.each.with_index(1) do |status, i|
        %option{ value: i }
          = status.name
  .actions
    = f.submit 'Save'
