.form--task
  = form_for @task do |f|
    - if @task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.label 'タイトル'
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label 'ステータス'
      = f.collection_select :status_id, statuses, :id, :name, {prompt: ""}, {class: 'custom-select', selected: @task.status_id}
    .form-group
      = f.label 'カテゴリー'
      -# = f.collection_select :category_id, categories, :id, :name, {prompt: ""}, {class: 'custom-select', selected: @task.category_id}
      = f.collection_select :category_id, Category.all, :id, :name, {prompt: ""}, {class: 'custom-select', selected: @task.category_id}
    .form-group
      = f.label '期日（オプション）'
      = f.text_field :deadline, class: 'form-control'
    .form-group
      .actions
        = f.submit 'Save', class: 'btn btn-secondary'
