.form--task
  = form_for @task do |f|
    - if @task.errors.any?
      .alert.alert-warning
        %h4= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
      = f.label :status
      = f.text_field :status, class: 'form-control'
      = f.submit 'Save', class: 'btn btn-primary'
