- tasks.each do |task|
  %tr
    %td= task.name
    %td= statuses.find(task.status_id).name
    %td= categories.find(task.category_id).name
    %td= users.find(task.user_id).name
    %td= task.updated_at
