.task-card.col-12.col-sm-6.col-lg-4.col-xl-3
  .card.bg-light.border-dark
    .card-header
      = categories.find(task.category_id).name
      = ' [ ' + statuses.find(task.status_id).name + ' ]'
    .card-body
      %h5.card-title
        = task.name
      %hr
      %span
        - if current_user.id == task.user_id
          = link_to 'Edit', edit_task_path(task), remote: true, class: 'btn btn-outline-info'
          = link_to 'Del', task, method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-outline-danger"
