%h1 Listing tasks

%table
  %thead
    %tr
      %th Name
      %th Status
      %th User
      %th Time
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= @statuses.find(task.status_id).name
        %td= @users.find(task.user_id).name
        %td= task.updated_at
        %td= link_to 'Show', task
        - if user_signed_in? && (current_user.id == task.user_id)
          %td= link_to 'Edit', edit_task_path(task)
          %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
