%p#notice= notice

%p.font-weight-bold Task name:
= @task.name
%p
  %b Status:
  = @statuses.find(@task.status_id).name
- if user_signed_in? && (current_user.id == @task.user_id)
  = link_to 'Edit', edit_task_path(@task)
  \|
= link_to 'Back', :back
