- path = request.path
%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
%link{ rel:"stylesheet" ,href:"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" ,integrity:"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" ,crossorigin:"anonymous" }
%script{ src:"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" }
%script{ src:"js/bootstrap.min.js"}
%header#app--header
  .title
    %h1.site-title
      TODO-LIST
    %nav
      %ul.container-fluid
        %li.col-sm-4
          = link_to 'Home', root_path, class: "#{'active' if path == '/'}" 
        - unless user_signed_in?
          %li.col-sm-4
            = link_to 'SignUp', new_user_registration_path, class: "#{'active' if path == '/users/sign_up'}"
          %li
            = link_to 'Login', new_user_session_path, class: "#{'active' if path == '/users/sign_in'}"
        - if user_signed_in?
          %li.col-sm-4
            = link_to 'Logout', destroy_user_session_path,method: :delete,class: "#{'active' if path == '/users/sign_out'}"

  %hr
