- path = request.path
%header#app--header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
    .container
      .navbar-brand
        - if user_signed_in?
          = link_to current_user.name + ' \'s Tasks', 'mytasks', class: "text-light"
        - else
          = link_to 'Todo App', '/', class: "text-light"
      %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNavAltMarkup',
                              'aria-controls': 'navbarNavAltMarkup', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse{id: 'navbarNavAltMarkup' }
        - #mr-autoで左寄せ、ml-autoで右寄せ
        %ul.navbar-nav.mr-auto
          %li.nav-item
            - if user_signed_in?
              = link_to 'All Users Tasks', tasks_path, class: 'btn btn-secondary nav-link'
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item
              = link_to 'Logout', destroy_user_session_path, class: "btn btn-secondary nav-link"
          - else
            %li.nav-iteme
              = link_to 'Signup', new_user_registration_path, class: "btn btn-secondary nav-link"
            %li.nav-iteme
              = link_to 'Signin', new_user_session_path, class: "btn btn-secondary nav-link"
